<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

# Prehravanie OAuth callbacku a podciest Keystaticu na hlavny index.html dashboardu

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^keystatic(/.\*)?$ keystatic/index.html [L]
</IfModule>
